* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row{
    background-color: aqua;
}

.inputfile {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus,
.inputfile:hover {
    background-color: red;
}